@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}
/* o html e o body vai ocupar 100% da tela */
html,
body {
  width: 100vw;
  height: 100vh;
  background: url(./imagens/fundo-madeira.jpg) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}
/* o main está em posição relativa pois ele esta embrulhando o restante dos conteudos como o proprio telefone */
main {
  position: relative;
  height: 100vh;
 
}
/* a posição absoluta me dá a os parametros necessários para centralizar no meio da página */
section#telefone {
  position: absolute;
  /* uma das várias formas de centralizar um conteudo no centro */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 311px;
  height: 627px;
  background: url(./imagens/frame-iphone.png) no-repeat;
}

#tela{
  position: relative;
  top: 80px;
  left: 22px;
  width: 268px;
  height: 472px;
}
.redes__socias{
  text-align: right;
}
a>img{
  width: 50px;
  margin: 10px;
  border-radius: 50%;
}
a>img:hover{
  transform: scale(1.1);
}